<?php
/** @var $block \Magenest\Groupon\Block\Order\CustomerGroupon */

$datas = $block->getGroupon();
?>
<table>
    <?php foreach ($datas as $data) : ?>
    <tr>
        <td style="width:155px; height: 100px">
            <?php
            /** @var \Magento\Catalog\Model\Product $product */
            $product = $block->getItems($data['product_id']);
            $productImage = $block->getProductImage($product, 'category_page_grid');
            ?>
            <div class="product-img" style="width: 150px">
                <a href="<?php /* @escapeNotVerified */
                echo $product->getProductUrl() ?>" class="product photo product-item-photo"
                   tabindex="-1">
                    <?php echo $productImage->toHtml(); ?>
                </a>
            </div>
        </td>
        <td>
            <p><strong><?php echo __('Product Name: ').$data['product_name'] ?></strong></p>
            <p ><?php echo __('Purchase Date: ').$data['created_at'] ?></p>
            <p ><?php echo __('Expiration Date: ').$block->getDealData($data['product_id']) ?></p>
            <?php if (!empty($data['location'])) { ?>
            <p ><?php echo __('Location: ').$data['location'] ?></p>
            <?php } ?>
        <td style="text-align: right;">
            <p><?php echo $data['groupon_code']; ?></p>
            <button class="action  primary" onclick="location.href='<?php echo $block->printUrl($data['groupon_id']) ?>'">
                <span><?php echo __('print groupon') ?></span>
            </button>
        </td>
    </tr>
    <?php endforeach; ?>
</table>