<?php
/** @var $block \Magenest\Groupon\Block\Product\View\Highlight */

$deals = $block->getDeal();
?>
<?php if ($deals) { ?>
<span>
    <?php echo __('Terms:') ?><br>
</span>
<p id = "terms_groupon"><?php echo $deals[0]['terms'] ?></p>
<span>
    <?php echo __('Instruction:') ?><br>
</span>
<p id = "instructions_groupon"><?php echo $deals[0]['instructions'] ?></p>
<?php } ?>