<?php
/**@var $block \Magenest\Groupon\Block\Product\View\Info */

$timeCountdown = $block->getTimeDeal();
$options = $block->getOptions();
$numberOrder = $block->getNumberOrder();
$symbol = $block->getCurrencySymbol();
?>
<?php if ($block->isConfigurableProduct()) : ?>
    <div class="groupon-options-wrapper" id="groupon-options-wrapper" data-hasrequired="* Required Fields">
        <div class="fieldset" tabindex="0">
            <div class="field required">
                <div class="control" id = "groupon_location_form">
                </div>
            </div>
        </div>
    <div class="fieldset" tabindex="0">
        <div class="deal_discount_block clearfix" >
            <table style="text-align: center;background-color: #cfeef6;">
                <tr>
                    <td style="width: 25%;">
                        <p><b><?php echo __('Value') ?></b></p>
                        <p id="value"><?php echo __('0.00') ?></p>
                    </td>
                    <td style="background-color: #0a6c9f; width: 25%;">
                        <p><b><?php echo __('Discount') ?></b></p>
                        <p id="discount"><?php echo __('0.00 %') ?></p>
                    </td>
                    <td style="width: 25%;">
                        <p><b><?php echo __('Your Save') ?></b></p>
                        <p id="you_save"><?php echo __('0.00') ?></p>
                    </td>
                    <td id="qty" style="background-color: #0a6c9f; width: 25%;" hidden>
                        <p><b><?php echo __('Qty') ?></b></p>
                        <p id="qtyValue"><?php echo __('0') ?></p>
                    </td>
                </tr>
            </table>
        </div>
            <br>
    </div>
    </div>
    <input id="product_groupon_location_id" name="additional_options[groupon_location_id]" style="display: none">

<script>
    require([
        'mage/url'
    ], function(url) {
        url.tempVar = '<?php echo $block->getGoogleApiKey() ?>';
        return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
    });
</script>

    <?php if ($timeCountdown) : ?>
<div class="remaining_time" style="text-align: center;background-color: #e5f4a6;">
    <br>
    <p class="timer_text"><b><?php echo __('Time left to Buy') ?></b></p>
    <div class="countdown-gift" id="countdown-gift">
        <div class="countdown" data-countdown="<?php echo $timeCountdown[0]['end_time'] ?>"></div>
    </div>

    <br>
</div>

<script>
    require([
        'jquery',
        'jqueryCountdown',
        "domReady!"
    ], function ($, domReady) {
        'use strict';

        $('[data-countdown]').each(function () {
            var $this = $(this), finalDate = $(this).data('countdown');
            $this.countdown(finalDate, function (event) {
                var fomat = '<div class="box-count box-days"><div class="number">%D</div><div class="text">Days</div></div><div class="box-count box-hours"><div class="number">%H</div><div class="text">Hrs</div></div><div class="box-count box-min"><div class="number">%M</div><div class="text">Mins</div></div><div class="box-count box-secs"><div class="number">%S</div><div class="text">Secs</div></div>';
                $this.html(event.strftime(fomat));
            });
        });
    });
</script>
<?php endif; ?>
<?php endif; ?>


<style>
    .countdown-gift .box-count {
        border-radius: 100%;
        width: 70px;
        height: 70px;
        text-align: center;
        border: 2px solid #ccc;
        text-transform: uppercase;
        display: inline-block;
        margin: 5px;
        vertical-align: text-top;
        padding-top: 10px;
        box-sizing: border-box;
        font-size: 12px;
    }

    .countdown-gift .box-count .number {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        display: block;
        margin-bottom: 5px;
    }

    .countdown-gift .box-count .text {
        font-size: 10px;
        line-height: 1;
        display: block;
    }
</style>
