<?php
/** @var $block \Magenest\Groupon\Block\Product\View\Location */

$deals = $block->getDeals();
if ($deals) {
    $location = $block->getDataLocation($deals[0]['location']);
}
?>
<?php if (isset($location)) : ?>
<h4><?php echo __('DEAL ADDRESS') ?></h4>
<div class="groupon_map">
    <div class="box-map">
        <iframe width="1195" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<?php echo $location[1]['street']?>&amp;aq=&amp;sspn=0.111915,0.295601&amp;ie=UTF8&amp;hq=&amp;hnear=<?php echo"Your variables";?>&amp;t=m&amp;z=12&amp;output=embed" w></iframe>
    </div>
</div>
<?php endif; ?>