<?php
/**@var $block \Magenest\Groupon\Block\Product\View\Info */

$timeCountdown = $block->getTimeDeal();
$options = $block->getOptions();
$numberOrder = $block->getNumberOrder();
$symbol = $block->getCurrencySymbol();
$discountForm = $block->getDiscountFormCoupon();
?>
<?php if ($block->isCouponProduct()) : ?>
        <div class="coupon-options-wrapper" id="coupon-options-wrapper" data-hasrequired="* Required Fields">
        <?php if ($block->getLocationCoupon() != null) {?>
        <div class="fieldset" tabindex="0">
            <div class="field required">
                <div class="control">
                    <select aria-required="true" id="coupon_select_location"  title="" data-selector="coupon_select_location" class="required product-custom-option-location admin__control-select">
                        <option value=""><?php echo __('Select Location...') ?></option>
                        <?php foreach ($block->getLocationCoupon() as $location) {?>
                            <option id="select_location" name = "option_location" value="<?php echo $location['record_id'] ?>">
                                <?php echo $location['street'].' - '.$location['city'].' - '.$location['country']?>
                            </option>
                        <?php } ?>
                    </select>
                </div>
            </div>
        </div>
        <?php } ?>
        <div class="fieldset" tabindex="0">
            <div class="deal_discount_block clearfix">
                <table style="text-align: center;background-color: #cfeef6;">
                    <tr>
                        <td style="width: 25%;">
                            <p><b><?php echo __('Value') ?></b></p>
                            <p id="value"><?php echo $discountForm['value'] ?></p>
                        </td>
                        <td style="background-color: #0a6c9f; width: 25%;">
                            <p><b><?php echo __('Discount') ?></b></p>
                            <p id="discount"><?php echo $discountForm['discount'] ?></p>
                        </td>
                        <td style="width: 25%;">
                            <p><b><?php echo __('Your Save') ?></b></p>
                            <p id="you_save"><?php echo $discountForm['you_save'] ?></p>
                        </td>
                        <td id="qty" style="background-color: #0a6c9f; width: 25%;" >
                            <p><b><?php echo __('Qty') ?></b></p>
                            <p id="qtyValue"><?php echo $discountForm['qty'] ?></p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
        </div>
    </div>
    <input id="product_groupon_location_id" name="additional_options[groupon_location_id]" style="display: none">

    <script>
        require([
            "jquery",
            "jquery/ui"
        ], function ($) {
            'use strict';
            var optionLocation = document.getElementById("product_groupon_location_id");
            var productId = $("input[name=product]").val();

            var selectLocation = document.getElementById("coupon_select_location");
            $(selectLocation).change(function () {
                var checkValue = $(this).val();
                optionLocation.value = checkValue;
                var id = productId+'_'+checkValue;
                $(".box-map").empty();
                getGoogleMap(id);
            });

            function getGoogleMap(id) {
                $.ajax({
                    type: "POST",
                    url: '<?php echo $block->getReturnLocation()?>?isAjax=true',
                    data: {form_key: '<?php echo $block->getFormKey() ?>', location_id: id},
                    showLoader: true,
                    success: function (result) {
                        console.log(result);
                        var locationTemplate = " ";
                        var address = result.replace(/\s+/g, '+');
                        var apiKey = '<?php echo $block->getGoogleApiKey() ?>';
                        var srcMap = 'https://www.google.com/maps/embed/v1/place?key=' + apiKey + '&q=' + address;
                        locationTemplate += '<div class="box-map">';
                        locationTemplate += '<iframe width="1195" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ' +
                            'src=' + srcMap +
                            ' allowfullscreen >';
                        locationTemplate += '</iframe>';
                        locationTemplate += '</div>';
                        $(".groupon_map").append(locationTemplate);
                    },
                    error: function (e) {
                        console.log(e);
                    },
                    timeout: 10000
                });
            }
        });
    </script>

    <?php if ($timeCountdown) : ?>
        <div class="remaining_time" style="text-align: center;background-color: #e5f4a6;">
            <br>
            <p class="timer_text"><b>Time left to Buy</b></p>
            <div class="countdown-gift" id="countdown-gift">
                <div class="countdown" data-countdown="<?php echo $timeCountdown[0]['end_time'] ?>"></div>
            </div>
            <br>
        </div>

        <script>
            require([
                'jquery',
                'jqueryCountdown',
                "domReady!"
            ], function ($, domReady) {
                'use strict';
                $('[data-countdown]').each(function () {
                    var $this = $(this), finalDate = $(this).data('countdown');
                    $this.countdown(finalDate, function (event) {
                        var fomat = '<div class="box-count box-days"><div class="number">%D</div><div class="text">Days</div></div><div class="box-count box-hours"><div class="number">%H</div><div class="text">Hrs</div></div><div class="box-count box-min"><div class="number">%M</div><div class="text">Mins</div></div><div class="box-count box-secs"><div class="number">%S</div><div class="text">Secs</div></div>';
                        $this.html(event.strftime(fomat));
                    });
                });
            });
        </script>
    <?php endif; ?>

<?php endif; ?>

<style>
    .countdown-gift .box-count {
        border-radius: 100%;
        width: 70px;
        height: 70px;
        text-align: center;
        border: 2px solid #ccc;
        text-transform: uppercase;
        display: inline-block;
        margin: 5px;
        vertical-align: text-top;
        padding-top: 10px;
        box-sizing: border-box;
        font-size: 12px;
    }

    .countdown-gift .box-count .number {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        display: block;
        margin-bottom: 5px;
    }

    .countdown-gift .box-count .text {
        font-size: 10px;
        line-height: 1;
        display: block;
    }
</style>
